<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
  <% @friends.each do |friend| %>
    <h2><%= friend %></h2>
<% end %>
 </head>
 <body>
 </body>
</html>


